<div>
  <div class="py-6 px-4 flex items-center justify-between text-white bg-secondary-active">
    <h2 class="h4">My Cart</h2>
    <button onclick="Alpine.store('cartInfo').setCartOpen(false)"
            aria-label="close inline cart">
      <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 448 512">
        <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" fill="currentColor" />
      </svg>
    </button>
  </div>
</div>