<dialog data-forgot-modal
        class="fixed w-screen h-screen inset-0 flex items-center justify-center bg-transparent">
  <button class="bg-black opacity-50 absolute inset-0"
          data-close-forgot-modal
          aria-label="Close forgot password modal"></button>
  <div class="relative py-6 px-12 max-w-[35rem] w-full bg-white">
    {%- form 'recover_customer_password',
          class: 'flex flex-col items-center' -%}
      {%- assign recover_success = form.posted_successfully? -%}
      <h2 class="mt-0 mb-4 h4 text-black">Reset your password</h2>
      <div class="mb-6">{{settings.account_reset_disclaimer}}</div>
      {%- if form.errors -%}
        <div class="mb-6 text-small text-red leading-5 mx-auto">{{ form.errors.messages['form'] }}</div>
      {%- endif -%}
      <div class="input-wrap mb-6 w-full">
        <input type="email"
               value=""
               name="email"
               class="w-full min-w-0"
               id="RecoverEmail"
               autocorrect="off"
               autocapitalize="off"
               autocomplete="email"
               required
               data-error-message="this input is required"
               placeholder=" "
               data-forgot-email />
        <label for="RecoverEmail">Email</label>
      </div>
      <div class="w-full grid lg:grid-cols-2 gap-4 items-center">
        <button class="button button--secondary button--short">
          Submit
        </button>
        <button class="button button--secondary button--outline button--short"
                data-close-forgot-modal>
          Cancel
        </button>
      </div>
    {%- endform -%}
  </div>
</dialog>