<div class="grid lg:grid-cols-2 gap-12">

  <div class="hidden lg:block">
    {%- render 'image-container',
          image: section.settings.register_image,
          image_size: '1440x1440',
          mobile_image: settings.register_image,
          alt_text: settings.register_image.alt -%}
  </div>

  <div class="pt-10 pl-6 pr-6 pb-14 lg:pt-[2.875rem] lg:pl-[7.5rem] lg:pr-[3.75rem] lg:pb-10 text-black">
    <div class="w-full max-w-[30rem] flex flex-col items-center">
      <h1 class="mb-8 lg:mb-10 text-center">Create Account</h1>

      {%- render 'register-form' -%}

      <hr class="my-10 border-grey-7 w-1/2" />

      <h3 class="h4 mb-4 text-center">Already have an account?</h3>
      <a class="focus-link"
         href="{{ routes.account_login_url }}">
        Log In
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Register Form",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "register_image",
        "label": "Register Image"
      }
    ]
  }
{% endschema %}