<div class="ccontain">
  <div class="mb-10 grid grid lg:grid-cols-2">
    <div class="px-5 py-4 bg-grey-1">
      <h1 class="mb-11">Heading One</h1>
      <h2 class="mb-11">Heading Two</h2>
      <h3 class="mb-11">Heading Three</h3>
      <h4 class="mb-11">Heading Four</h4>
      <h5 class="mb-11">Heading Five</h5>
      <h6 class="mb-11">Heading Six</h6>

      <div class="grid gap-y-4">
        <p class="caps-large">Subtitle Large - Caps</p>
        <p class="caps-regular">Subtitle Regular - Caps</p>
        <p class="mb-6 caps-small">Subtitle Small - Caps</p>
        <p class="sub-large">Subtitle Large</p>
        <p class="sub-regular">Subtitle Regular</p>
        <p class="sub-small">Subtitle Small</p>
      </div>
    </div>
    <div class="px-5 py-4 text-white bg-black">
      <h1 class="mb-11">Heading One</h1>
      <h2 class="mb-11">Heading Two</h2>
      <h3 class="mb-11">Heading Three</h3>
      <h4 class="mb-11">Heading Four</h4>
      <h5 class="mb-11">Heading Five</h5>
      <h6 class="mb-11">Heading Six</h6>

      <div class="grid gap-y-4">
        <p class="caps-large">Subtitle Large - Caps</p>
        <p class="caps-regular">Subtitle Regular - Caps</p>
        <p class="mb-6 caps-small">Subtitle Small - Caps</p>
        <p class="sub-large">Subtitle Large</p>
        <p class="sub-regular">Subtitle Regular</p>
        <p class="sub-small">Subtitle Small</p>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h2 class="mb-3 h5">Brand Colors</h2>
    <div class="mb-11 grid grid-cols-2 lg:grid-cols-6 gap-10">
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-primary"></div>
        </div>
        Primary
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-primary-active"></div>
        </div>
        Primary - Active
      </div>

      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-secondary"></div>
        </div>
        Secondary
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-secondary-active"></div>
        </div>
        Secondary - Active
      </div>

      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-tertiary"></div>
        </div>
        Tertiary
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-tertiary-active"></div>
        </div>
        Tertiary - Active
      </div>
    </div>

    <h2 class="mb-3 h5">Grey Scale</h2>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-10">
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-1"></div>
        </div>
        Grey 1
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-2"></div>
        </div>
        Grey 2
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-3"></div>
        </div>
        Grey 3
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-4"></div>
        </div>
        Grey 4
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-5"></div>
        </div>
        Grey 5
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-6"></div>
        </div>
        Grey 6
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-7"></div>
        </div>
        Grey 7
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-8"></div>
        </div>
        Grey 8
      </div>
      <div>
        <div class="mb-2 relative pb-[100%]">
          <div class="absolute w-full h-full bg-grey-9"></div>
        </div>
        Grey 9
      </div>
    </div>
  </div>

  <p class="mb-8 text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa vitae tortor condimentum lacinia quis vel. Varius vel pharetra vel turpis nunc eget lorem dolor. <b>Sed libero enim sed</b> <strong>faucibus turpis in eu.</strong> Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. <i>Nullam non nisi</i> est sit amet facilisis magna. Nunc faucibus a pellentesque sit amet porttitor. Non arcu risus quis varius quam quisque. Tellus at urna condimentum mattis pellentesque id. Elit at imperdiet dui accumsan sit amet nulla facilisi.</p>

  <p class="mb-8">Magna etiam tempor orci eu lobortis <a href="">elementum nibh</a> tellus molestie. Feugiat nibh sed pulvinar proin gravida hendrerit. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Faucibus in ornare quam viverra orci sagittis eu. Mattis pellentesque id nibh tortor id. Sit amet venenatis urna cursus eget nunc scelerisque viverra. Senectus et netus et malesuada. Non enim praesent elementum facilisis leo vel fringilla est. Et netus et malesuada fames ac turpis egestas maecenas. Risus quis varius quam quisque id diam vel. Tincidunt id aliquet risus feugiat in ante. Aliquam faucibus purus in massa tempor nec feugiat. Nulla at volutpat diam ut venenatis tellus in metus.</p>

  <p class="mb-8 text-small">Lectus proin nibh nisl condimentum id venenatis a condimentum. Elementum tempus egestas sed sed risus pretium. Nunc aliquet bibendum enim facilisis gravida neque. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Pellentesque sit amet porttitor eget dolor morbi. Gravida rutrum quisque non tellus. Urna et pharetra pharetra massa. Dictum at tempor commodo ullamcorper a lacus. Vitae elementum curabitur vitae nunc sed. Nunc pulvinar sapien et ligula ullamcorper malesuada. Potenti nullam ac tortor vitae purus. In ante metus dictum at. Eget magna fermentum iaculis eu non diam. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Ornare lectus sit amet est placerat in egestas.</p>

  <p class="mb-8 text-xsmall">At lectus urna duis convallis convallis. At risus viverra adipiscing at in. Sit amet est placerat in egestas erat. Egestas dui id ornare arcu odio. Commodo quis imperdiet massa tincidunt nunc pulvinar. Pulvinar neque laoreet suspendisse interdum. At in tellus integer feugiat scelerisque varius morbi enim nunc. Viverra aliquet eget sit amet tellus cras. Aliquet eget sit amet tellus cras adipiscing enim eu. Malesuada proin libero nunc consequat. Enim nunc faucibus a pellentesque sit amet. Tincidunt id aliquet risus feugiat in ante metus dictum at. Quis blandit turpis cursus in hac habitasse. Posuere lorem ipsum dolor sit amet. Amet tellus cras adipiscing enim eu. Eu scelerisque felis imperdiet proin fermentum leo vel orci. In fermentum posuere urna nec tincidunt praesent semper. Donec et odio pellentesque diam volutpat commodo sed egestas egestas. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada.</p>

  <form class="rounded-md border border-grey-3 px-12 py-6 grid lg:grid-cols-2 items-end">
    <h3 class="h3 mb-6 lg:col-span-2">Form Fields</h3>
    <div class="mb-5 input-wrap">
      <input type="text" name="input-one" id="input-one" required data-error-message="this input is required" placeholder=" ">
      <label for="input-one">Text Input</label>
    </div>

    <div class="mb-5 input-wrap">
      <input type="number" name="input-two" id="input-two" min="1" max="3" required data-error-message="please enter a number between 1 and 3" placeholder=" ">
      <label for="input-two">Number Input</label>
    </div>

    <div class="mb-5 input-wrap lg:col-span-2">
      <input type="text" name="input-search" id="input-search" placeholder=" " class="search-input">
      <label for="input-search">Search Input</label>
    </div>

    <div>
      <div class="select-wrap mt-6 mb-3">
        <label for="my-select">Frequency</label>
        <select id="my-select">
          <option>Option One</option>
          <option>Option Three</option>
          <option>Option Two</option>
          <option>Option Four</option>
        </select>
      </div>
    </div>

    <div>
      <div class="select-wrap mb-3">
        <select id="my-select">
          <option>Option One</option>
          <option>Option Three</option>
          <option>Option Two</option>
          <option>Option Four</option>
        </select>
      </div>
    </div>

    <div class="my-4 flex flex-col">
      <div class="mt-1 check-wrap">
        <input type="checkbox" name="input-checkbox-1" id="input-checkbox-1">
        <label for="input-checkbox-1">Checkbox one</label>
      </div>
      <div class="mt-1 check-wrap">
        <input type="checkbox" name="input-checkbox-2" id="input-checkbox-2">
        <label for="input-checkbox-2">Checkbox 2</label>
      </div>
      <div class="mt-1 check-wrap">
        <input type="checkbox" name="input-checkbox-3" id="input-checkbox-3">
        <label for="input-checkbox-3">Another checkbox</label>
      </div>
      <div class="mt-1 check-wrap">
        <input type="checkbox" name="input-checkbox-4" id="input-checkbox-4">
        <label for="input-checkbox-4">Checkbox</label>
      </div>
    </div>

    <div class="my-4 flex flex-col">
      <div class="mt-1 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-1">
        <label for="input-radio-1">radio one</label>
      </div>
      <div class="mt-1 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-2">
        <label for="input-radio-2">radio 2</label>
      </div>
      <div class="mt-1 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-3">
        <label for="input-radio-3">Another radio</label>
      </div>
      <div class="mt-1 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-4">
        <label for="input-radio-4">radio</label>
      </div>
    </div>

    <div>
      <button class="button button--primary"><span>Submit</span></button>
    </div>
  </form>

  <div class="my-6 border-1 py-6 px-4 bg-grey-1">
    <h3 class="h3 mx-auto mb-6 px-3 max-w-5xl">Focus Links and Buttons</h3>

    <div class="my-3 mx-auto py-2 px-3 max-w-5xl">
      <a href="/" class="focus-link">
        Focus Link
      </a>
    </div>

    <div class="my-3 mx-auto py-2 px-3 max-w-5xl grid lg:grid-cols-3 items-center gap-x-2 gap-y-2">
      <button class="button button--atc"><span>Add To Cart</span></button>
      <button class="button button--atc" disabled><span>Add To Cart</span></button>
    </div>

    <div class="my-3 mx-auto py-2 px-3 max-w-5xl grid lg:grid-cols-3 items-center gap-x-2 gap-y-2">
      <button class="button button--primary"><span>Primary Button</span></button>
      <button class="button button--primary button--short"><span>Primary Button</span></button>
      <button class="button button--primary" disabled><span>Primary Button</span></button>
    </div>


    <div class="my-3 mx-auto py-2 px-3 max-w-5xl grid lg:grid-cols-3 items-center gap-x-2 gap-y-2">
      <button class="button button--secondary"><span>Secondary Button</span></button>
      <button class="button button--secondary button--short"><span>Secondary Button</span></button>
      <button class="button button--secondary" disabled><span>Secondary Button</span></button>
    </div>


    <div class="my-3 mx-auto py-2 px-3 max-w-5xl grid lg:grid-cols-3 items-center gap-x-2 gap-y-2">
      <button class="button button--ghost"><span>Ghost Button</span></button>
      <button class="button button--ghost button--short"><span>Ghost Button</span></button>
      <button class="button button--ghost" disabled><span>Ghost Button</span></button>
    </div>

    <div class="my-3 mx-auto py-2 px-3 max-w-5xl grid lg:grid-cols-3 items-center gap-x-2 gap-y-2">
      <button class="button button--ghost button--outline"><span>Ghost Button - Outline</span></button>
      <button class="button button--ghost button--outline button--short"><span>Ghost Button - Outline</span></button>
      <button class="button button--ghost button--outline" disabled><span>Ghost Button - Outline</span></button>
    </div>
  </div>

  <div class="ccontain-small my-6 rounded-md border border-grey-3 py-6">
    <h3 class="h3 mb-6 col-span-2">Accordions</h3>

    {%- render 'accordion-item',
          _title: 'Title',
          _content: 'This is my accordion content' -%}

    {%- render 'accordion-item',
          _title: 'Title 2',
          _content: 'This is my accordion content' -%}

    {%- render 'accordion-item',
          _title: 'Title 3',
          _content: 'This is my accordion content' -%}
  </div>

</div>

{% schema %}
  {
    "name": "Styleguide",
    "templates": [
      "page"
    ],
    "presets": [
      {
        "name": "Styleguide"
      }
    ]
  }
{% endschema %}